@charset "UTF-8";
/* (HTML)   (CSS) 
     id   =   #
   class  =   .
*/
body {
    background-color: #82ff95;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #288536;
}

#main {
    text-align: center;
    color: white;
    background-color: #1C5C25;
}

h2 {
    color: #34AD46;
}

.basico {
    color: #34AD46;
}

.intermediario {
    color: #89ad34;
}

.avancado {
    color: #34ada7;
}

.destaque {
    background-color: rgba(250, 250, 141, 0.555);
    border-radius: 5px;
    font-style: italic;
}