@charset "UTF-8";
@font-face {
    font-family: 'Passion';
    src: url(../fonts/PassionOne-Regular.ttf) format(truetype);
}

:root {
    --font1: 'Passion', Arial, sans-serif;
}

* {    
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
header h1 {
    font-family: var(--font1);
    font-size: 10vw;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}