@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@font-face {
    font-family: 'Passion';
    src: url(../fonts/PassionOne-Regular.ttf) format(truetype);
}

:root {
    --font0: Verdana, Geneva, Tahoma, sans-serif;
    --font1: 'Passion', Arial, sans-serif;
    --font2: 'Sriracha';
}

* {    
    padding: 0px;
    margin: 0px;
    font-family: var(--font0);
}

br {
    padding: 5px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 1.05em;
}
header h1 {
    font-family: var(--font1);
    font-size: 10vw;
    font-variant: small-caps;
    line-break: auto;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
}

main p {
    font-family: var(--font2);
    font-size: 3.5vw;

}

article {
    padding: 95px 30px;
    line-height: 7vw;
    background-color: white;
}
#t1 {
    padding-bottom: 155px;
    box-shadow: 30px 30px 30px black;
}
#t2 {
    background: url(../imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

#t2 p, #t4 p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: fit-content;
    padding: 5px;
}

#t3 p, #t5 p {
    padding-bottom: 65px;
}

#t4 {
    background: url(../imagens/background002.jpg) top left no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 9.5px;
    font-size: 1.05em;
}