@charset "UTF-8";

body{
    background-color: rgb(221, 221, 221);
    color: rgb(78, 78, 78);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style-position: inside;
}
