@charset "UTF-8";
    /* Declarações Gerais */
    *{
      margin: 0px;
      padding: 0px;
      font-family: Arial, Helvetica, sans-serif;
    }

    html, body {
      width: 100vw;
      height: 100vh;
      background-color: #233eff;
      background-size: contain;
      background-repeat: no-repeat;
    }

    h1 {  
      color: white;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
      padding: 15px;
    }
    

    /* Declarações Modo Retrato */
    @media screen and (orientation: portrait) {
      body {
        background-image: url(../img/cev-portrait.jpg);
        background-position: center bottom;
      }
    }


    /* Declarações Modo Paisagem */
    @media screen and (orientation: landscape) {
      html, body {
        background-image: url(../img/cev-landscape.jpg);
        background-position: left bottom;
      }
    }