@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    padding: 0px;
    margin: 0px;
    background-color: #007777;
    font-family: 'Comfortaa', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    padding: 15px;
    background-color: #007777;
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}