@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}
html, body { 
height: 100vh;
width: 100vw;
}

body {
    background: url('../imagens/fundo-madeira.jpg') top center fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

#screen {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49.6%);
    height: 472px;
    width: 269px;
    border-radius: 3px;
}

#apps {
    text-align: right;
}

#apps img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin: 10px;
}

#apps img:hover {
    width: 60px;
    margin: 5px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    transform: translate(-5px, 0px);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
    transition: transform .2s, border .6s;
}