@charset "UTF-8";

body{
    background-color: rgb(238, 255, 163);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}    
h1{
    color: rgb(117, 0, 0);
    background-color: rgb(255, 229, 115);
    font-size: 1.5em;
}
h2{
    color:rgb(0, 92, 172);
    font-size: 1.2em;
}
p{
    text-align: justify;
}