@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font0: Verdana, Geneva, Tahoma, sans-serif;
    --font1: "Passion One", cursive, sans-serif;
    --font2: "Sriracha", cursive, sans-serif;
}

* {    
    padding: 0px;
    margin: 0px;
}
html, body {    
    min-height: 100vh;
    background-color: gray;
    font-family: var(--font0);
}
br {
    padding: 5px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
header h1 {
    padding-top: 50px;
    font-family: var(--font1);
    font-size: 10vw;
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 30px;
    line-height: 2em;
    font-family: var(--font2);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
}

.imagem {
    background-color: gray;
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.5);
}

.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
}

#img01 {
    background: url(../imagens/background001.jpg) right center fixed;
    background-size: cover;
}

#img02 {
    background: url(../imagens/background002.jpg) fixed;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 9.5px;
    font-size: 1.05em;
}