@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@font-face {
    font-family: 'Passion';
    src: url(../fonts/PassionOne-Regular.ttf) format(truetype);
}

:root {
    --font0: Verdana, Geneva, Tahoma, sans-serif;
    --font1: 'Passion', Arial, sans-serif;
    --font2: 'Sriracha';
}

* {    
    padding: 0px;
    margin: 0px;
}
html, body {    
    min-height: 100vh;
    background-color: gray;
}
br {
    padding: 5px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.05em;
}
header h1 {
    padding-top: 50px;
    font-family: var(--font1);
    font-size: 10vw;
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 30px;
    line-height: 2em;

}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: gray;
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5)
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 9.5px;
    font-size: 1.05em;
}