@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to left, #8F5600, #4F3714);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4F3915;
    width: 800px;
    margin: auto;
    padding: 20px;
}
h1{
    color: #1E3D58;
    text-align: center;
    text-shadow: 1px 1px 2px #4f391559;
}
h2{
    color: #00518F;
}
p{
    text-align: justify;

}