@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --green1: #91d1cf;
  --green2: #4ea09d;
  --green3: #2c5f5d;
  --purple: #5f2c82;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100vw;
  background: var(--purple);
}

#login {
  margin: auto;
  width: 250px;
  height: 515px;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

#img {
  background: url(../img/pattern-gray.jpg);
  background-size: cover;
  height: 200px;
  display: block;
}

#form {
  display: block;
  padding: 10px;
}

#form h1 {
  text-align: center;
  padding: 15px;
}

#form p {
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 10px;
}

.email-password {
  background-color: var(--purple);
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin: 5px 0px;
}

.email-password input {
  background-color: var(--green1);
  width: calc(100% - 37px);
  height: 36px;
  transform: translate(-24px, -12px);
  border-radius: 10px;  
  text-indent: 5px;
  border: 0px;
}

.email-password input:focus {
  background-color: white;
}

.email-password label {
  display: none;
}

.email-password span{
  color: white;
  font-size: 2em;
  padding: 5px;
}

input[type=submit] {
  width: 100%;
  height: 40px;
  background-color: var(--green2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--green3);
}

.forgot {
  background-color: white;
  border: 1px solid var(--green2);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  display: block;
  margin-top: 5px;
  text-decoration: none;
  padding-top: 5px;
  color: var(--green3);
  text-align: center;
  font-size: 0.9em;

}

.forgot:hover {
  background-color: var(--green1);
}

.forgot span {
  color: var(--green3);
  font-size: 1em;
}